/* Buttons */

.bt_cancel {
  color: white;
  background-color: #f56565; /* Cor equivalente ao 'red.400' no Chakra UI */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Estilo de sombra semelhante ao 'md' */
  border-width: 2px;
  border-radius: 0.375rem; /* Valor equivalente ao 'md' */
  padding: 0.5rem 1rem; /* Adicionei padding para melhorar a aparência do botão */
  font-size: 1rem; /* Tamanho de fonte semelhante ao padrão */
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s; /* Efeito de transição */
}

.bt_cancel:hover {
  background-color: #e53e3e; /* Cor para o hover - mais escura que 'red.400' */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra mais intensa no hover */
}

.bt_singin {
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Estilo de sombra semelhante ao 'md' */
  border-width: 2px;
  border-radius: 0.375rem; /* Valor equivalente ao 'md' */
  padding: 0.5rem 1rem; /* Adicionei padding para melhorar a aparência do botão */
  font-size: 1rem; /* Tamanho de fonte semelhante ao padrão */
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s; /* Efeito de transição */
}

/* Corrigindo o nome da classe no hover */
.bt_singin:hover {
  background-color: rgba(30, 255, 0, 0.6);
  border-color: white;
  border-width: 1px;
}

/* Imputs  */
.normal_imput_text {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 10px;
  width: 90%;
  box-sizing: border-box;
  font-size: 16px;
}

.normal_imput_text::selection {
  background-color: rgb(80, 144, 255);
  color: white;
}

/* Containers */

.login_container {
  background-color: rgb(80, 144, 255); /* bg="gray.700" */
  padding: 2rem; /* p={8} (8 * 0.25rem = 2rem) */
  border-radius: 0.5rem; /* borderRadius="lg" (0.5rem) */
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
  width: 24rem; /* width="sm" (24rem) */
}

.dashboard-container {
  color: black; /* Cor do texto */
  max-width: 28rem; /* Equivalente ao "maxW='md'" (28rem) */
  margin-left: auto; /* Equivalente ao "mx='auto'" */
  margin-right: auto; /* Equivalente ao "mx='auto'" */
  margin-top: 2.5rem; /* Equivalente ao "mt='10'" (10 * 0.25rem = 2.5rem) */
  padding: 1.5rem; /* Equivalente ao "p='6'" (6 * 0.25rem = 1.5rem) */
  border-width: 1px; /* Bordas de 1px */
  border-radius: 0.375rem; /* Equivalente ao "borderRadius='md'" (0.375rem) */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Equivalente ao "boxShadow='md'" */
}

/* Backgrouns Pages */

.login_background {
  display: flex;
  justify-content: center; /* justify="center" */
  align-items: center; /* align="center" */
  height: 100vh; /* height="100vh" */
  background-color: #f7fafc; /* bg="gray.50" */
  background-image: url("../assets/login_bg.png"); /* Caminho da sua imagem */
  background-size: cover; /* A imagem ocupa toda a tela */
  background-position: center; /* A imagem será centralizada */
  background-repeat: no-repeat; /* A imagem não se repetirá */
}

/* Expecific Pages */

/* Login */
.login-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.hr_login {
  border: 0px;
  border-top: 2px solid; /* Define a cor e espessura da linha */
  margin: 5px 0; /* Adiciona um espaço em volta da linha */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0, 0.6);
}
